/* Challege One Minimal Blog Card devchallenges.io */

body{
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0%;
    height: 100vh; /* esto hace que el body tenga el alto de la ventana del navegador */
    background-color:#fafaf9 ;
}
#flotante{
    margin-top:164px;
    background-color: #FFFFFF;
    width: 368px;
    display:flex;
    flex-direction:column;
    align-content: center;
    /* border: 2px outset whitesmoke; */
    box-shadow: 10px 5px 8px 0.5px whitesmoke;
    border-radius: 16px;
    
}

/* Div dentro del div flotante  */
    #portada{
        margin:16px 16px 0px 16px;
        height: 152px;
        border-radius: 16px;
    }
    #botones{
        margin:16px 16px 0px 16px;    
    }
    #resumen{
        margin:16px 16px 0px 16px;  
    }
    #footer{
        border-top: 0.5px solid #E5EAF0;
        align-items: center;
        justify-content: flex-start;
    }
    #autores{
        margin:0px 0px 20px 16px;
        color:gray; 
    }

/* Imagenes y botones */
    .cactus{
        height: 152px;
        width: 336px;
        border-radius: 10px;
    }
    button{
        background-color: #E6D6FC;
        color: #883AE1;
        border: none;
        border-radius: 16px;
        padding: 6px 16px;
        font-family: Sora;
        font-size: 12px;
        font-weight: bold;
    }

/* Texto */
    p,h1{
        font-family: Sora;
    }
    .titulo{
        font-size: 18px;
        font-weight: bold;
        margin:0px 0px 0px;
        color: #20293A;
    }
    .resume{
        font-size:14px;
        color:#7D828D;
        margin:6px 0px 20px;
    }
    .aux{
        font-family: Sora;
        font-size: 12px;
        color: #6F7582;
        
    }